In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#read first sheet

retail1 = pd.read_excel('/Users/brendab/Desktop/retail_project/retail_1.xlsx')

#read second sheet

retail2 = pd.read_excel('/Users/brendab/Desktop/retail_project/retail_2.xlsx')

In [3]:
#combine both sheets using pd.concat, then get a glimpse of the first five instances

retail = pd.concat([retail1, retail2], axis = 0)

retail.head(5)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [4]:
#let's check for null values
retail.isna().sum()

Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64

In [5]:
#There are some null values present, so let's drop them from our dataset
retail.dropna(subset=['Customer ID', 'Description'], axis=0, inplace=True)

In [6]:
#Check for duplicates 
retail.duplicated().sum()

26479

In [7]:
#drop duplicates
retail.drop_duplicates(inplace=True)

In [8]:
#some invoices where canceled, which where indicated by the letter 'C' at the start of invoice number
#so let's exclude those from our dataset
retail = retail[~retail['Invoice'].astype(str).str.startswith('C')]

In [9]:
#Check data types of each variable
retail.dtypes

Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
dtype: object

In [10]:
retail['Customer ID'] =retail['Customer ID'].astype('int64')

In [11]:
#We know that the invoice data is in date time, which easily allows us to seperate them each
#into their individual columns
retail['Day']= retail.InvoiceDate.dt.day

In [12]:
#creating the month column
retail['Month']= retail.InvoiceDate.dt.month

In [13]:
#creating the year column
retail['Year']= retail.InvoiceDate.dt.year

In [14]:
#I don't need the time column, so I will drop it from the dataset
retail.drop(['InvoiceDate'], axis=1, inplace=True)

In [15]:
#let's see some stats on our cleaned dataset
retail.describe()

,Quantity,Price,Customer ID,Day,Month,Year
count,779495.000000,779495.000000,779495.000000,779495.000000,779495.000000,779495.000000
mean,13.507085,3.218199,15320.262918,15.390820,7.417110,2010.432050
std,146.540284,29.674823,1695.722988,8.657937,3.422346,0.568394
min,1.000000,0.000000,12346.000000,1.000000,1.000000,2009.000000
25%,2.000000,1.250000,13971.000000,8.000000,5.000000,2010.000000
50%,6.000000,1.950000,15246.000000,15.000000,8.000000,2010.000000
75%,12.000000,3.750000,16794.000000,23.000000,11.000000,2011.000000
max,80995.000000,10953.500000,18287.000000,31.000000,12.000000,2011.000000

In [16]:
#let's preview the finished dataset
retail.head(5)

,Invoice,StockCode,Description,Quantity,Price,Customer ID,Country,Day,Month,Year
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,6.95,13085,United Kingdom,1,12,2009
1,489434,79323P,PINK CHERRY LIGHTS,12,6.75,13085,United Kingdom,1,12,2009
2,489434,79323W,WHITE CHERRY LIGHTS,12,6.75,13085,United Kingdom,1,12,2009
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2.10,13085,United Kingdom,1,12,2009
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,1.25,13085,United Kingdom,1,12,2009

In [17]:
#save it as a csv file
retail.to_csv('retail.csv')